{{- $logseqDir := promptStringOnce . "logseqDir" "Diretório do grafo do Logseq" "~/Documents/Notes" -}}
{{- $sonarToken := promptStringOnce . "sonarToken" "SONAR_TOKEN (Enter para pular)" "" -}}
[data]
    logseqDir = {{ $logseqDir | quote }}
    sonarToken = {{ $sonarToken | quote }}
