export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH

export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="geoffgarside"

plugins=(
  git
  zsh-autosuggestions
  sudo
{{- if eq .chezmoi.os "linux" }}
nvm
{{- end }}
)

source $ZSH/oh-my-zsh.sh

alias dp="docker ps --filter 'status=running' --format '"{{".ID"}}"' | xargs -r docker pause"
alias dP="docker ps --filter 'status=paused' --format '"{{".ID"}}"' | xargs -r docker unpause"
alias da="docker-attach"

{{- if eq .chezmoi.os "linux" }}
# NVM (useful for neovim)
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Active mise
eval "$(~/.local/bin/mise activate zsh)"
{{- end }}

