{{- template "shebang" . }}

if [ -f "$HOME/.oh-my-zsh/oh-my-zsh.sh" ]; then
	echo -e "\e[32moh-my-zsh is already installed. skipping...\e[0m"
else
	installer=$(mktemp)
	trap 'rm -f "$installer"' EXIT
	curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh -o "$installer"
	RUNZSH=no CHSH=no KEEP_ZSHRC=yes sh "$installer"
fi

{{ if eq .chezmoi.os "linux" -}}
# Set zsh as default shell
if [ "$(getent passwd "$(id -un)" | cut -d: -f7)" != /usr/bin/zsh ]; then
    sudo chsh -s /usr/bin/zsh "$(id -un)"
fi
{{- end }}

# Plugins
plugins=(
{{ template "oh-my-zsh-custom-plugins" -}}
)

ZSH_CUSTOM=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}

for url in "${plugins[@]}"; do
    plugin=$(basename "$url")
    plugin_dir="$ZSH_CUSTOM/plugins/$plugin"

    if [ -d "$plugin_dir" ]; then
        echo -e "\e[32moh-my-zsh $plugin plugin is already installed. skipping...\e[0m"
    else
        git clone "${url}.git" "$plugin_dir"
    fi
done
