{{- template "shebang" . }}

if grep -q "oh-my-zsh.sh" "$HOME/.zshrc"; then
	echo -e "\e[32moh-my-zsh is already installed. skipping...\e[0m"
else
	{{- if eq .chezmoi.os "linux" }}
	rm -rf ~/.oh-my-zsh
	sudo apt install -y zsh curl
	{{- end }}

	RUNZSH=no CHSH=no sh -c "$$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

{{ if eq .chezmoi.os "linux" -}}
# Set zsh as default shell
sudo chsh -s /usr/bin/zsh
{{- end }}

# Plugins
plugins=(
{{ template "oh-my-zsh-custom-plugins" -}}
)

ZSH_CUSTOM=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}

for url in "${plugins[@]}"; do
    plugin=$(basename "$url")
    plugin_dir="$ZSH_CUSTOM/plugins/$plugin"

    if [ -d "$plugin_dir" ]; then
        echo -e "\e[32moh-my-zsh $plugin plugin is already installed. skipping...\e[0m"
    else
        git clone "${url}.git" "$plugin_dir"
    fi
done
