snippet class "Create class" b
<?php

namespace $1;

class `!p snip.rv = snip.basename`
{
  $0
}
endsnippet

snippet pubf "Public function" b
public function $1($2): $3
{
  $0
}
endsnippet

snippet test "Create test" b
/**
 * @test
 * @small
 */
public function $1(): void
{
  $0
}
endsnippet


